<article id="about" class="bg-highlight-light post">
  <div class="inner">
    <header role>
      <h2>About Me</h2>
      <h3>Who IS Navin R. Johnson?</h3>
    </header>
    <section>
      <p>I'm a very-soon-to-be father of one glorious chub of a baby boy. I use humor as a defense mechanism.
        I have a very hard time concentrating on one subject at a time. I own two chickens for their sweet, sweet eggs.
        And I named my cat Poopmouth.
      </p>
      <p>
        I share my life with my wife who, in many ways, is my antithesis (for the better). We've staked our ground in Pittsburgh,
        Pennsylvania, in an old-ass house full of antiques. Somehow we survive it all.
      </p>

    </section>
  </div>
</article>
