$header-height: 30px;
$header-color: $orange;

.header-mini {
  a {
    color: white;
  }
  .h2 {
    line-height: 76px;
  }
}

.header-hero {
  padding: 50px 0 150px;
  margin-bottom: 100px;
  text-align: center;
  background-color: $header-color;

  a {
    color: white;
  }

  h1 {
    font-size: 70px;
    line-height: 1.6;

    a {
      position: relative;
      top: 0px;
      text-shadow: 0 2px 0 $orange-dim;
    }

    a:hover {
      opacity: 0.9;
    }

    a:active {
      position: relative;
      top: 2px;
      text-shadow: none;
    }
  }

  h2 {
    font-size: 32px;
    font-weight: 100;
    line-height: 1.6;
  }
}

.header-mini {
  padding: 50px 0;
  background-color: $header-color;
  margin-bottom: 50px;
}

.tagline {
  color: $orange-dim;
}
