.main-nav {
  ul {
    list-style: none;
  }
  li {
    float: left;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    color: $color-gray01;

    &:hover {
      background-color: $bg-highlight-dark;
      color: white;
    }
  }
}

#mobile-nav{
  display: none;
  height: 37px;
  position: relative;
  @media screen and (max-width: 600px){
    display: block;
  }
  a{
    display: block;
  }
  .button{
    cursor: pointer;
  }
  .container{
    display: none;
  }
  .menu{
    position: relative;
    width: 100%;
    .button{
      background: #f2f2f2;
      border: 1px solid $color-gray04;
      color: #999;
      padding: 0 10px;
      position: relative;
      @include border-radius(5px);
      &:hover{
        color: #999;
      }
      &.on{
        color: #666;
        @include border-radius(5px 5px 5px 0);
      }
    }
    .container{
      width: 99.5%;
      background: #f2f2f2;
      border: 1px solid #ddd;
      border-top: none;
      position: absolute;
      top: 28px;
      z-index: 1;
      @include border-radius(0 0 5px 5px);
      ul{
        list-style: none;
        ul{
          margin-left: 20px;
        }
      }
      a{
        padding: 0 10px;
      }
    }
  }
}

