.post{
	.meta{
		font-size: 0.9em;
		color: #333;
		@media screen and (max-width: 620px){
			width: auto;
		}
		.date, .tags, .comments{
			@media screen and (max-width: 620px){
				@include inline-block;
				margin-right: 30px;
			}
		}
	}
}
