$max-width: 800px;

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $font-default;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	background: $color-background;
    color: $color-gray01;
	@media screen and (max-width: 1040px){
		margin: 0 20px;
	}
	@media screen and (max-width: 600px){
		font-size: 13px;
		margin: 0 20px;
	}
}


// FOOTNOTES

sup, sub {
  padding: 0 0.2em;
  display: inline;
  font-size: 80%
}

.footnotes {
  font-size: 80%;
}


// UTILITY CLASSES

.text-c {
  text-align: center;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix { @include pie-clearfix; }

.inner {
  width: $max-width;
  margin: 0 auto;
  @media screen and (max-width: 1040px) {
    width: 100%;
  }
}