a {
  color:$link-base-color;
  text-decoration: none;
  @include transition(color .3s);
  @include transition(background-color .3s);

  &:visited {
    color:$link-visited-color;
  }

  &:hover {
    color:$link-hover-color;
  }

  &:active {
    color:$link-active-color;
  }
}