.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}


h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}

h3,.h3,h4,.h4 {
  font-weight: 100;
}

h1, .h1, h2, .h2 {
  font-weight: 900;
}



h1,.h1 {
  font-size: 37px;
}
h2,.h2 {
  font-size: 31px;
}
h3,.h3 {
  font-size: 31px;
}
h4,.h4 {
  font-size: 26px;
}
h5,.h5 {
  font-size: 22px;
}
h6,.h6 {
  font-size: 18px;
}