<header id="header" class="header-mini">
  <div class="inner clearfix">
    <div class="alignleft">
      <a href="{{ root_url }}/">
        {% img logo-image /images/logo-rd-orange.svg 76 76 Brian Cleveland, presented by Poopmouth the Cat %}
      </a>
    </div>
    <div class="alignright">
      <h1 class="h2">
        <a href="{{ root_url }}/">
          {{ site.title }}
        </a>
      </h1>
      <h2 class="h4 tagline">{{ site.subtitle }}</h2>
    </div>
  </div>
</header>
{% include nav.html %}
