$bg-highlight-light: $color-gray05;
$bg-highlight-dark: $color-gray02;

.bg-highlight-light {
  background-color: $bg-highlight-light;
}

.bg-highlight-dark {
  background-color: $bg-highlight-dark;
}